extends layout

block content
    .container
        .row
            .col-md-12
                .panel.panel-default
                    .panel-heading
                        h3.panel-title="Project " + projects[0].title
                    .panel-body.form-horizontal
                        for project, index in projects
                            .form-group
                                label.col-md-3 Title
                                .col-md-9
                                    p= project.title
                            .form-group
                                label.col-md-3 Description
                                .col-md-9
                                    p= project.description
                            .form-group
                                label.col-md-3 Start Date
                                .col-md-9
                                    p= project.dateStart.toISOString().split("T")[0]
                            .form-group
                                label.col-md-3 Finish Date
                                .col-md-9
                                    p= project.dateFinish.toISOString().split("T")[0]
                            .form-group
                                label.col-md-3 Status
                                .col-md-9
                                    p= project.status
                    .panel-footer
                        a.btn.btn-default(href="/projects/")
                            i.glyphicon.glyphicon-chevron-left
                            |  Back to projects
                        |  
                        a.btn.btn-default(href="./edit/")
                            i.glyphicon.glyphicon-pencil
                            |  Edit
                        a.btn.btn-danger.pull-right(href="./delete/")
                            i.glyphicon.glyphicon-trash
                            |  Delete