extends layout

block content
  script(src="/js/index.js")
  .container
    .row
      .col-md-12
        - project = project||{title:"",description:"",dateStart:new Date(),dateFinish:new Date()}
        form.panel.panel-default(method="POST", action="./", data-toggle="validator")
          .panel-heading
            h3.panel-title="Project " + (project.title)
          .panel-body.form-horizontal
            .form-group
              label.control-label.col-md-3(for="title") Title
              .col-md-9
                input.form-control(name="title", value=project.title, required=true)
            .form-group
              label.control-label.col-md-3(for="description") Description
              .col-md-9
                textarea.form-control(name="description")=project.description
            .form-group
              label.control-label.col-md-3(for="dateStart") Start Date
              .col-md-9
                input.form-control(name="dateStart", value=project.dateStart.toISOString().split("T")[0], type="date")
            .form-group
              label.control-label.col-md-3(for="dateFinish") Finish Date
              .col-md-9
                input.form-control(name="dateFinish", value=project.dateFinish.toISOString().split("T")[0], type="date", min=project.dateStart.toISOString().split("T")[0])
          .panel-footer
            a.btn.btn-default(href="/projects/")
              i.glyphicon.glyphicon-chevron-left
              |  Projects
            |  
            button.btn.btn-success(type="submit")
              i.glyphicon.glyphicon-ok
              |  OK
            |  
            a.btn.btn-danger(href="./")
              i.glyphicon.glyphicon-remove
              | Cancel
            a.btn.btn-danger.pull-right(href="./delete/", class=(project.title!="")?"":"hidden")
              i.glyphicon.glyphicon-trash
              |  Delete